<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds" debug="false">
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<conversionRule conversionWord="trace" converterClass="com.tencent.tsf.logger.LogbackTraceConverter" />
  
	<!-- appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	   <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- root logger -->
	<root level="info">
		<appender-ref ref="console" />
	</root>
	
 	<logger name="org.springframework" level="warn"/>
    <logger name="org.apache.http" level="warn"/>
    <logger name="org.apache.ibatis" level="debug"/>
    <logger name="org.apache.commons" level="warn"/>
    <logger name="io.undertow.request" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="org.mybatis.spring" level="debug"/>
    <logger name="io.lettuce.core" level="warn"/>
 	
	<!-- logback self -->
	<logger name="logback" />
	
	<!-- custom logger -->
	<logger name="czb.framework.hotfix" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
</configuration>